streamlit==1.31.0
streamlit-chat==0.1.1
torch==2.1.2
Pillow==10.2.0
requests==2.31.0
open-clip-torch==2.23.0
transformers==4.36.2
huggingface-hub==0.20.2
langchain==0.1.0
faiss-cpu==1.7.4
numpy==1.26.3
pandas==2.1.4
matplotlib==3.8.2
