setuptools>=69.0.0
wheel>=0.42.0
streamlit==1.28.0
streamlit-chat==0.1.1
numpy>=1.26.0
pandas>=2.1.0
Pillow>=10.0.0
requests>=2.31.0
matplotlib>=3.8.0
faiss-cpu>=1.7.4
huggingface-hub>=0.19.0
transformers>=4.35.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.1.0+cpu
open-clip-torch>=2.20.0
langchain>=0.0.300
bitsandbytes>=0.41.1
accelerate>=0.21.0
